<!-- main app container -->
<div class="card m-3">
  <h5 class="card-header">Add Doctor</h5>
  <div class="card-body">
      <form [formGroup]="ajoutForm" (ngSubmit)="addDoctor()">
       
          
          <div class="form-row">
              <div class="form-group col">
                  <label>First Name</label>
                  <input type="text" formControlName="firstName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"/>
                  <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback">
                    <div *ngIf="f.firstName.errors.required">First Name is required</div>
                 </div>
              </div>
              <div class="form-group col">
                  <label>Last Name</label>
                  <input type="text" formControlName="lastName" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"/>
                  <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback">
                    <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                 </div>
              </div>
          </div>


          <div class="form-row">
            <div class="form-group col">
                <label>Phone Number</label>
                <input type="text" formControlName="telephoneNumber" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.telephoneNumber.errors }"/>
                <div *ngIf="submitted && f.telephoneNumber.errors" class="invalid-feedback">
                    <div *ngIf="f.telephoneNumber.errors.required">Telephone Number is required</div>
                 </div>
            
            </div>
            <div class="form-group col">
                <label>Email</label>
                <input type="adress" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"/>
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">Email is required</div>
                </div>
                
            </div>
        </div>

        <div class="form-row">
           
          <div class="form-group col">
              <label>Date of birth</label>
              <input type="text" formControlName="dateOfBirth" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.dateOfBirth.errors }"/>
              <div *ngIf="submitted && f.dateOfBirth.errors" class="invalid-feedback">
                <div *ngIf="f.dateOfBirth.errors.required">Date of birth</div>
            </div>
          </div>
       
          <div class="form-group col">
            <label>Speciality</label>
            <input type="text" formControlName="specialityId" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.specialityId.errors }"/>
            <div *ngIf="submitted && f.specialityId.errors" class="invalid-feedback">
                <div *ngIf="f.specialityId.errors.required">Speciality is required</div>
            </div>
     </div>
    
      </div>
     
          <div class="text-center">
              <button class="btn btn-primary mr-1">Add Doctor</button>
              <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
          </div>
      </form>
  </div>
</div>