<header>
  <div class="header-top-bar">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-lg-6">
					<ul class="top-bar-info list-inline-item pl-0 mb-0">
						<li class="list-inline-item"><a href="Medicare@gmail.com"><i class="icofont-support-faq mr-2"></i>Medicare@gmail.com</a></li>
						<li class="list-inline-item"><i class="icofont-location-pin mr-2"></i>Address Tunisie,Ariana </li>
					</ul>
				</div>
				<div class="col-lg-6">
					<div class="text-lg-right top-right-bar mt-2 mt-lg-0">
						<a  >
							<span class="h6"routerLink="/signin">Sign in</span>
              <span class="h6">|</span>
							<span class="h6"routerLink="/signup">Sign up</span>

						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
  <nav class="navbar navbar-expand-lg navigation" id="navbar">
    <div class="container">
        <a class="navbar-brand" href="index.html">
          <img src="assets/dashbord/images/medi.PNG" alt="" class="img-fluid">
        </a>

        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarmain" aria-controls="navbarmain" aria-expanded="false" aria-label="Toggle navigation">
      <span class="icofont-navigation-menu"></span>
      </button>
      <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
        <span class="icon-menu"></span>
      </button>
      <ul class="navbar-nav mr-lg-2">
        <li class="nav-item nav-search d-none d-lg-block">
          <div class="input-group">
            <div class="input-group-prepend hover-cursor" id="navbar-search-icon">
              <span class="input-group-text" id="search">
                <i class="icon-search"></i>
              </span>
            </div>
            <input type="text" class="form-control" id="navbar-search-input" placeholder="Search now" aria-label="search" aria-describedby="search" name="search" [(ngModel)]="searchText">
          </div>
        </li>
      </ul>


      <div class="collapse navbar-collapse" id="navbarmain">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
        <a class="nav-link" routerLink="/homeS">Home</a>
        </li>
  <!-- <li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle"id="dropdown02" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Services <i class="icofont-thin-down"></i></a>
					<ul class="dropdown-menu" aria-labelledby="dropdown02">
						<li><a class="dropdown-item" routerLink="/homeS/interface">Appoinment en cours</a></li>
						<li><a class="dropdown-item" href="department-single.html">My appoinment</a></li>
					</ul>
			  	</li>
        -->
          <li class="nav-item"><a class="nav-link" routerLink="/homeS/departements" >Departements</a></li>
          <li class="nav-item"><a class="nav-link"  routerLink="/homeS/doctors" >Doctors</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/homeS/contact">Contact</a></li>
         
      </ul>
      </div>
    </div>
  </nav>
</header>